.pair-section {
  margin: 50px auto;
  max-width: 1300px;
}

.pair-heading {
  text-align: left;
  font-size: 40px;
  font-weight: 400px;
  color: #35617d;
}
.pair-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  align-items: center;
  justify-content: center;
}

