.logo h1 {
  font-size: 45px;
  font-weight: 400;
  color: white;
}

.menu ul {
  gap: 50px;
}

.menu ul li a {
  font-weight: 400;
  font-size: 25px;
  color: white;
}

.header-btns {
  display: flex;
  /* background-color: red; */
}

.menu-button {
  font-size: 30px;
  margin-right: 20px;
  color: white;
  background-color: transparent;
}

.burger-menu-icon {
  display: none;
  align-items: center;
  height: 37px;
  font-size: 30px;
  color: aliceblue;
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  .burger-menu-icon {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .logo,
  .logo h1 {
    font-size: 40px;
  }
  .menu-button {
    font-size: 27px;
  }
}
