.pair-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://ld-magento-72.template-help.com/magento_MAG-3787/pub/media/wysiwyg/main-banner-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 3vw;
  color: #fff;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .pair-wrapper {
    font-size: 2em;
  }
}
