@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", "Open Sans", sans-serif;
}

.first-screen {
  background-image: url("./img/first-screen.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
}

.collection-heading {
  text-align: center;
  font-size: 40px;
}

.collection-top-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  height: auto;
  width: 100%;
}
.collection-top-section header {
  padding-bottom: 200px;
}

.collection-top-section h2 {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  padding-bottom: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 30px rgb(202 228 225 / 34%), 0 0 12px rgb(46 48 51 / 52%),
    0 0 21px rgb(30 132 242);
  font-weight: 300;
}
